.grid {
    display: grid;
    grid-template-columns: repeat(52, 15px);
    grid-template-rows: repeat(7, 15px);
    grid-gap: 2px;
}

.cell {
    position: relative;
    background-color: #EDEDED;
    border-radius: 2px;
}

.contributions {
    display: none;
}

.tooltip {
    width: 145px;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
    transition: opacity 0.3s;
    opacity: 0;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.cell:hover .tooltip {
    display: block;
    opacity: 1;
}
