.grid {
    display: grid;
    grid-template-columns: repeat(52, 15px);
    grid-template-rows: repeat(7, 15px);
    grid-gap: 2px;
}

.cell {
    position: relative;
    background-color: #EDEDED;
    border-radius: 2px;
}

.contributions {
    display: none;
}

.tooltip {
    width: 145px;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.cell:hover .tooltip {
    display: block;
}
