.grid {
    display: grid;
    grid-template-columns: repeat(52, 15px);
    grid-template-rows: repeat(7, 15px);
    grid-gap: 2px;
}

.cell {
    position: relative;
    background-color: #EDEDED;
    border-radius: 2px;
}

.contributions {
    display: none;
}

.tooltip {
    width: 200px;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    top: -180%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
}

.cell .tooltip {
    display: block;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.date {
    color: #7C7C7C;
    font-size: 12px;
    margin: 4px 0;
}