.container {
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    overflow: auto;
    margin: 0 auto;
    padding: 8rem 2rem;
}

.gridContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    padding: 20px;
}


.title {
    text-align: center;
    margin-bottom: 2rem;
}
